/*
* @Author: Marte
* @Date:   2019-09-17 11:33:14
* @Last Modified by:   Marte
* @Last Modified time: 2019-09-20 14:10:22
*/

/* 页面整体 */
body{
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-seriv;
}

/*页脚*/
footer{
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 顶部头像区域 */
body h2 p,img{
    display: inline;
}
.avatar{
    width: 40px;
}

/* 设置导航栏 */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #111;
}

/* 电影列表 */
.movie-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.126), 0 2px 10px 0 rgba(0,0,0,0.12)
}

.movie-list li{
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child{
    border-bottom: none;
}

.movie-list li:hover{
    background-color: #f8f9fa;
}
.imdb{
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: #f5c518;
    border-radius: 5px;
    padding: 3px 5px;
}


/* 404页面中的特殊样式 */
.float-right{
    float: right;
}

/* doge图片 */
.totoro{
    display: block;
    margin: 30px auto 0px auto;
    height: 100px;
}
samll{
    display: inline;
}