<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <!-- 设置页面的视口，根据设备的宽度自动缩放页面，让移动设备拥有更好的体验 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img class="avatar" alt="Avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}">
        {{user.name}}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for( 'index' ) }}">主页</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}">更改用户名</a></li>
                <li><a href="{{ url_for('logout') }}">注销</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </nav>
    {# 用来 插入页面的主体内容 #}
    {% block content %}
    {% endblock %}
<footer>
    <small>&copy; 2018 <a href="http://helloflask.com/tutorial/">HelloFlask</a></small>
</footer>
</body>
</html>

